<h4 class="d-flex justify-content-between mb-4">
  <span>Records</span>
  <% if has_role?(:admin) %>
    <%= link_to 'New Record', new_record_path, class: "btn btn-primary" %>
  <% end %>
</h4>

<% @records.each do |record| %>
  <div class="card mb-3 post-card">
    <div class="card-title">
      Name
      <%= record.name %>
    </div>
    <p class="text-secondary mb-0">
      Descrription
      <%= record.description %>
    </p>
    <div>
    Birthdate
      <%= record.birthdate %>
    </div>
    <div>
      Loss date
      <%= record.loss_date %>
    </div>
    <div class="btn-group" role="group" >
      <span><%= link_to 'Show', record, class: "btn btn-secondary mr-1" %></span>
      <% if has_role?(:admin) %>
        <span><%= link_to 'Edit', edit_record_path(record), class: "btn btn-secondary mr-1" %></span>
        <span><%= link_to 'Destroy', record, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></span>
      <% end %>
    </div>
<% end %>
</div>



<%= will_paginate @records, renderer: BootstrapPagination::Rails %>
